body {

  font-family: sans-serif;
}

.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  height: fit-content;
  margin-top: 20px;
  box-shadow: inset 0 -0.075em white,
    inset 0 -0.1em black,
    inset 0 -0.15em white,
    inset 0 -0.175em black;
}


.subtitle {
  font-size: 24px;
  text-decoration: underline;
}