[submodule "modules/OSBot-Utils"]
	path = modules/OSBot-Utils
	url = https://github.com/owasp-sbot/OSBot-Utils.git
[submodule "modules/OSBot-AWS"]
	path = modules/OSBot-AWS
    url = https://github.com/owasp-sbot/OSBot-AWS.git
