$decision-required-color: #CD1EEC;

.note {
  border: 2px solid $decision-required-color;
  color: $decision-required-color;
  min-width: 200px;
  border-radius: 5px;
  //margin-bottom: 30px;

  &-header {
    text-align: center;
    line-height: 42px;
    font-size: 22px;
    color: $decision-required-color;
    font-weight: bold;
    border-bottom: 2px solid $decision-required-color;
  }

  &-content {
    min-height: 100px;
    height: auto;
  }

  &-item {
    font-size: 18px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    &-content {
      margin-left: 10px;
    }
  }
}