.LoginBtn .MuiButton-label {
    color: #61DAFB;
    padding: 15px 0;
}
.LoginBtn button {
    float: right;
}
table {
    border: 1px solid #e0e0e0;
}
table th {
    border: 1px solid #e0e0e0;
    text-align: left!important;
    font-weight: bold!important;
    font-size: 16px!important;
}
table td {
    border: 1px solid #e0e0e0;
    text-align: left!important;
}

.margin-b20{
    margin-bottom: 20px;
}