.key-success {
  border: 2px solid #449580;
  color: #449580;
  min-width: 320px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 30px;

  &-header {
    text-align: center;
    line-height: 42px;
    font-size: 20px;
    border-bottom: 2px solid #449580;
  }

  &-content {
    height: 100px;
  }
}