.nav-tabs.wizard {
  background-color: transparent;
  padding: 0;
  width: 100%;
  margin: 1em auto;
  border-radius: 0.25em;
  clear: both;
  border-bottom: none;
}

.nav-tabs.wizard li {
  width: 100%;
  float: none;
  margin-bottom: 3px;
  display: flex;
  transition: all 500ms ease;
  cursor: pointer;
  font-size: 24px;
}

.nav-tabs.wizard li>* {
  position: relative;
  padding: 1em 0.8em 0.8em 2.5em;
  color: #999999;
  background-color: #dedede;
  border-color: #dedede;
  width: 100%;
}

.nav-tabs.wizard li.completed>* {
  color: #fff !important;
  background-color: #96c03d !important;
  border-color: #96c03d !important;
  border-bottom: none !important;
}

.nav-tabs.wizard li.active>* {
  color: #fff !important;
  background-color: #2c3f4c !important;
  border-color: #2c3f4c !important;
  border-bottom: none !important;
}

.nav-tabs.wizard li::after:last-child {
  border: none;
}

.nav-tabs.wizard>li>a {
  opacity: 1;
  font-size: 20px;
  line-height: 56px;

}

.nav-tabs.wizard a:hover {
  color: #fff;
  background-color: #2c3f4c;
  border-color: #2c3f4c;
}

span.nmbr {
  display: inline-block;
  padding: 10px 0 0 0;
  background: #ffffff;
  width: 35px;
  line-height: 100%;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 992px) {
  .nav-tabs.wizard li {
    position: relative;
    padding: 0;
    margin: 4px 4px 4px 0;
    width: 15.6%;
    float: left;
    text-align: center;
  }

  .nav-tabs.wizard li.active a {
    padding-top: 15px;
  }

  .nav-tabs.wizard li::after,
  .nav-tabs.wizard li>*::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 100%;
    height: 0;
    width: 0;
    border: 45px solid transparent;
    border-right-width: 0;
    /*border-left-width: 20px*/
  }

  .nav-tabs.wizard li::after {
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #fff;
    margin: 0;
  }

  .nav-tabs.wizard li>*::after {
    z-index: 2;
    border-left-color: inherit;
  }

  .nav-tabs.wizard>li:nth-of-type(1)::before {
    content: '';
    position: absolute;
    top: 1px;
    left: -35%;
    height: 90px;
    width: 90px;
    background-color: white;
    border: 45px solid transparent;
    transform: rotate(45deg);
    border-right-width: 0;
    z-index: 1;
  }

  // .nav-tabs.wizard li:last-child a {
  //   border-top-right-radius: 10px;
  //   border-bottom-right-radius: 10px;
  // }

  // .nav-tabs.wizard li:last-child {
  //   margin-right: 0;
  // }

  // .nav-tabs.wizard li:last-child a:after,
  // .nav-tabs.wizard li:last-child:after {
  //   content: '';
  //   border: none;
  // }

  span.nmbr {
    display: block;
  }
}